{#/src/DEE/UserBundle/Resources/views/UserManagement/index.html.twig#}

{% extends "::layout.backend.html.twig" %}

{% block body %}
    <!-- files -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-xs-12 lightgrey tile"></div>
                <div class="col-xs-12 yellow">Consulter les documents</div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 yellow"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 yellow"></div>
            </div>
        </div>
    </div>
    
    <!-- students & lessons -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 green"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 green"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 green"></div>
            </div>
        </div>
    </div>
    
    <!-- users -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 blue"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 blue"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 lightgrey tile">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12 blue"></div>
            </div>
        </div>
    </div>
{% endblock %}